.createPost {
    padding: 10px;
    min-height: 100vh;
    background-color: #07383b;
}

.post {
    background-color: #b4eaef;
    height: 100%;
}

.post:not(:last-child) {
    margin-bottom: 20px;
}